# OS & System Files
.DS_Store
Thumbs.db

# Environment & Virtual Environments
.env
.venv/
venv/

# Config Files
kestrel.toml

# Rust / Cargo Build Artifacts
target

# IDE / Editor
.idea/
.vscode/
*.iml

# Temporary / Backup Files
*.rs.bk
*.rs~
*.tmp